@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --main-font: "Inter", sans-serif;

    --blue: #4e80ee;
    --black: #030616;
    --grey: #d2d5da;
    --light-white: #f8fafc;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--light-white);
    font-family: var(--main-font);
    color: var(--black);
}

.main {
    max-width: 56.25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 3.75rem 2.5rem 0;
}

header {
    padding: 3.75rem;
    text-align: center;
    background-color: var(--white);

    h1 {
        margin-bottom: 1.2rem;
        font-size: 2.25rem;
        font-weight: 600;
    }

    p {
        font-weight: 400;
    }
}

section {
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1.3rem;
    }

    p {
        margin-bottom: 1.3rem;
    }
}

ul,
ol {
    padding-left: 1rem;
    margin-bottom: 1.2rem;
}

ul li,
ol li {
    line-height: 2;
}

ol li span,
section p span {
    color: var(--blue);
}

ul li span {
    font-weight: 600;
}
